:root {
    color-scheme: dark;
}

@font-face {
    font-family: 'Avenir';
    src: local('Avenir Roman'), local('Avenir-Roman'),
        url('../public/fonts/Avenir-Roman.woff2') format('woff2'),
        url('../public/fonts/Avenir-Roman.woff') format('woff'),
        url('../public/fonts/Avenir-Roman.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

html {
    font-size: calc(90% + .8vmin);
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 100%;
}

body {
    font-family: 'Avenir', sans-serif;
    color: #f9f9f9;
    background-image: url("../public/images/home-background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

:any-link {
    text-decoration: none;
    cursor: pointer;
    color: #f9f9f9;
}

::placeholder {
    text-transform: capitalize;
    position: absolute;
}

.link {
    position: relative;
    padding: .1rem;
    color: #00b7ff;
    z-index: 1;
    transition: color .2s;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -ms-transition: color .2s;
    -o-transition: color .2s;
    width: fit-content;
    display: inline;
}

.link::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 92% 0 0 0;
    background-color: #00b7ff;
    transition: inset .2s;
    -webkit-transition: inset .2s;
    -moz-transition: inset .2s;
    -ms-transition: inset .2s;
    -o-transition: inset .2s;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.link:hover {
    color: #000;
}

.link:hover::after {
    inset: 0 0 0 0;
}